.layout {
    display: flex;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex: 1;
    overflow: auto;
}